name: Workflow Actions
on:
  push:
  pull_request:
    branches:
      - master

jobs:
  check-linter:
    name: Lint Check
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v3

      - name: setup
        uses: actions/setup-node@v3
        with: 
          node-version: 14

      - name: npm install
        shell: bash
        run: npm install
      
      - name: npm lint
        shell: bash
        run: npm run lint